<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <connectionStrings>
    <add name="mssql" connectionString="Server=localhost;Database=kiss;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="mysql" connectionString="Server=localhost;Database=kiss;Uid=kiss;Pwd=kiss;" providerName="MySql.Data.MySqlClient"/>
    <add name="sqlite" connectionString="Data Source=c:\kiss.db;Version=3;BinaryGUID=False;" providerName="System.Data.SQLite"/>
    <add name="postgres" connectionString="Server=localhost;Port=5432;Database=kiss;User Id=postgres;Password=postgres;" providerName="Npgsql"/>
    <add
      name="oracle"
      connectionString="user id=SYSTEM;password=oracle;data source=
        (DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)
        (HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=
        (SERVICE_NAME=xe)))"
   providerName="Oracle.ManagedDataAccess.Client"/>
    
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
            type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.89.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.12.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
      
    </DbProviderFactories>
  </system.data>
  
</configuration>
